
* {
  margin: 0;
  padding: 0;
}

.menu-arrow {
  height: 8px;
  width: 10px;
  display: inline-flex;
  background-image: url("../images/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.menu-content {
  display: none;
}

.parent-name {
  font: bold 16px serif;
}

.menu-child {
  margin-left: 20px;
}

.menu {
  margin-left: 20px;
}

#menu-component {
  margin: 6px;
  padding: 6px;
  width: 200px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 6px;
}
